body{
    background-image: url(imagenes/fondoDATOS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 h2{
    color:yellow;
 }
 p{
    color:yellow;
 }
 table{
     color:yellow;
 }